
<div class="modal-cover"></div>

<div class="modal type-01">
    <div class="close-btn"><a href="#"></a></div>
    <p class="text-center read">
        動画の承認が完了しました。<br>
        申請者のメールアドレスに承認完了メールを送信しました。
    </p>
    <div class="btn-area one-btn">
        <div class="btn gray-btn"><a href="#">閉じる</a></div>
    </div>
</div>

<div class="modal type-02">
    <div class="close-btn"><a href="#"></a></div>
    <p class="text-center read">
        申請者のメールアドレスに再申請依頼を送信しました。
    </p>
    <div class="btn-area one-btn">
        <div class="btn gray-btn"><a href="#">閉じる</a></div>
    </div>
</div>

<div class="modal type-03">
    <div class="close-btn"><a href="#"></a></div>
    <div class="movie-area">
        <div class="movie"></div>
        <p class="user-id">ユーザーIDユーザーIDユーザーIDユーザーIDユーザーID…</p>
        <p class="description">動画概要動画概要動画概要動画概要動画概要動画概要動画概要動画概要動画概要動画概要動画概要動画…</p>
    </div>
    
    <div class="info odd">
        <dl class="time d-table">
            <dt class="d-td">再生時間</dt><dd class="d-td">20分10秒</dd>
        </dl>
    </div>
    
    <div class="info even">
        <dl class="upload d-table">
            <dt class="d-td">アップロード</dt><dd class="d-td">2016/3/10/14:32    作成者名作成者名作成者名</dd>
        </dl>
    </div>
    
    <div class="info odd">
        <dl class="date d-table">
            <dt class="d-td">上映予定日</dt><dd class="d-td">2016/4/10/12:00    劇場名劇場名劇場名劇場名</dd>
        </dl>
    </div>
    
    <div class="btn gray-btn download-btn">
        <a>動画をダウンロード</a>
    </div>
    <div class="btn-area clearfix">
        <div class="inner">
            <div class="btn gray-btn next-btn">
                <div><a href="#">承認する</a></div>
            </div>
            <div class="btn gray-btn prev-btn">
                <div><a href="#">承認しない</a></div>
            </div>
        </div>
    </div>
</div>

<div class="modal type-04">
    <div class="close-btn"><a href="#"></a></div>
    <p class="text-center read">動画を承認しますか？</p>
    
    <div class="info odd">
        <dl class="date d-table">
            <dt class="d-td">上映予定日</dt><dd class="d-td">2016/4/10/12:00</dd>
        </dl>
    </div>
    
    <div class="info even">
        <dl class="screen d-table">
            <dt class="d-td">上映劇場</dt><dd class="d-td">劇場名劇場名劇場名劇場名</dd>
        </dl>
    </div>
    
    <div class="info odd">
        <dl class="title d-table">
            <dt class="d-td">先品名</dt><dd class="d-td">作成者名作成者名</dd>
        </dl>
    </div>
    
    <div class="info even">
        <dl class="time d-table">
            <dt class="d-td">再生時間</dt><dd class="d-td">20分10秒</dd>
        </dl>
    </div>
    
    <div class="info odd">
        <dl class="user d-table">
            <dt class="d-td">ユーザー名</dt><dd class="d-td">IDユーザーIDユーザーIDユーザーID</dd>
        </dl>
    </div>
    
    <div class="info even">
        <dl class="description d-table">
            <dt class="d-td">動画概要</dt><dd class="d-td">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</dd>
        </dl>
    </div>
    
    <div class="btn gray-btn download-btn">
        <a>動画をダウンロード</a>
    </div>
    <div class="btn-area clearfix">
        <div class="inner">
            <div class="btn gray-btn next-btn">
                <div><a href="#">承認する</a></div>
            </div>
            <div class="btn gray-btn prev-btn">
                <div><a href="#">承認しない</a></div>
            </div>
        </div>
    </div>
</div>

<div class="modal type-05">
    <div class="close-btn"><a href="javascript:void(0);"></a></div>
    <p class="text-center read">アカウントを発行しますか?</p>
    
    <div class="info odd">
        <dl class="email d-table">
            <dt class="d-td">申請者メールアドレス<span class="red-text">※</span></dt><dd class="d-td"></dd>
        </dl>
    </div>
    
    <div class="info even">
        <dl class="user_id d-table">
            <dt class="d-td">ユーザーID<span class="red-text">※</span></dt><dd class="d-td"></dd>
        </dl>
    </div>
    
    <div class="info odd">
        <dl class="password d-table">
            <dt class="d-td">パスワード<span class="red-text">※</span></dt><dd class="d-td"></dd>
        </dl>
    </div>
    
    <div class="info even">
        <dl class="held d-table">
            <dt class="d-td">上映日時<span class="red-text">※</span></dt><dd class="d-td"></dd>
        </dl>
    </div>
    
    <div class="info odd">
        <dl class="place d-table">
            <dt class="d-td">上映場所<span class="red-text">※</span></dt><dd class="d-td"></dd>
        </dl>
    </div>
    
    <div class="info even">
        <dl class="remarks d-table">
            <dt class="d-td">備考</dt><dd class="d-td"></dd>
        </dl>
    </div>
    
    <div class="btn-area clearfix">
        <div class="inner">
            <div class="btn gray-btn next-btn">
                <div><a href="javascript:void(0);">はい</a></div>
            </div>
            <div class="btn gray-btn prev-btn">
                <div><a href="javascript:void(0);">いいえ</a></div>
            </div>
        </div>
    </div>
</div>

<div class="modal type-06">
    <div class="close-btn"><a href="<%- url('events', {}) %>"></a></div>
    <p class="text-center read">
        予約の追加が完了しました。<br>
        登録したメールアドレスにアカウント情報を送信しました。
    </p>
    <div class="btn-area one-btn">
        <div class="btn gray-btn"><a href="<%- url('events', {}) %>">閉じる</a></div>
    </div>
</div>




<div class="modal type-logout">
    <div class="close-btn"><a href="/admin"></a></div>
    <p class="text-center read">
        ログアウトが完了しました。
    </p>
    <div class="btn-area one-btn">
        <div class="btn gray-btn"><a href="/admin">閉じる</a></div>
    </div>
</div>