<header class="clearfix">
    <div class="logo">
        <div class="logo-image"><img src="/images/common/logo.png" alt="映画.comシネマ アミューあつぎ"></div>
        <div class="page-type text-center">上映システム 管理画面</div>
    </div>
    <nav>
        <ul class="clearfix">
            <li class="list text-center"><a class="active" href="/admin/events">予約一覧</a></li>
            <li class="add text-center"><a class="" href="/admin/event/new">予約追加</a></li>
            <li class="logout text-center"><a class="" href="javascript:void(0)">ログアウト</a></li>
        </ul>
    </nav>
</header>