.project
.settings

logs/*
node_modules/*
typings/*

apps/*.js
apps/*/*.js
apps/*/*/*.js
apps/*/*/*/*.js
apps/*/*/*/*/*.js
apps/*.js.map
apps/*/*.js.map
apps/*/*/*.js.map
apps/*/*/*/*.js.map
apps/*/*/*/*/*.js.map

!.gitignore
!.gitkeep