<%- include('header') -%>

<h1 class="page-header">フロントエンドログイン</h1>

<p class="error" style="color: #FF0000;">
<?php foreach ($messages as $message) { ?>
<?= $message ?><br>
<?php } ?>
</p>

<form action="/login" method="post">
<div class="form-group">
    <input type="text" name="user_id" class="form-control">
    <input type="password" name="password" class="form-control">
    <input type="submit" value="Login" class="btn btn-primary">
</div>
</form>

<%- include('footer') -%>