
<div class="modal-cover"></div>

<div class="modal type-01">
    <div class="close-btn"><a href="javascript:void(0);"></a></div>
    <div class="progress-bar"><div class="progress-inner"></div></div>
    <div class="text-center progress-bar-text"></div>
    <p class="text-center">
        動画をアップロード中です。少々お待ち下さい。<br>
        動画のサイズによってはアップロードに時間がかかることがあります。
    </p>
</div>

<div class="modal type-02">
    <div class="close-btn"><a href="javascript:void(0);"></a></div>
    <p class="text-center read">
        動画の登録が完了しました。
    </p>
    <div class="btn-area one-btn">
        <div class="btn gray-btn"><a href="/medias">動画一覧へ</a></div>
    </div>
</div>

<div class="modal type-03">
    <div class="close-btn"><a href="javascript:void(0);"></a></div>
    <p class="text-center read">
        再申請のお願い
    </p>
    <p class="text-area">
        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    </p>
    <div class="btn-area one-btn">
        <div class="btn gray-btn"><a href="javascript:void(0);">閉じる</a></div>
    </div>
</div>

<div class="modal type-04">
    <div class="close-btn"><a href="javascript:void(0);"></a></div>
    <p class="text-center read">
        プレイリストに紐付けられていますが、削除してよろしいですか？
    </p>
    <div class="btn-area clearfix">
        <div class="inner">
            <div class="btn gray-btn next-btn">
                <div><a href="javascript:void(0);">はい</a></div>
            </div>
            <div class="btn gray-btn prev-btn">
                <div><a href="javascript:void(0);">いいえ</a></div>
            </div>
        </div>
    </div>
</div>

<div class="modal type-05">
    <div class="close-btn"><a href="javascript:void(0);"></a></div>
    <p class="text-center read">
        動画名動画名動画名動画名動画名動画名を削除しますか?
    </p>
    <div class="btn-area clearfix">
        <div class="inner">
            <div class="btn gray-btn next-btn">
                <div><a href="javascript:void(0);">はい</a></div>
            </div>
            <div class="btn gray-btn prev-btn">
                <div><a href="javascript:void(0);">いいえ</a></div>
            </div>
        </div>
    </div>
</div>

<div class="modal type-06">
    <div class="close-btn"><a href="javascript:void(0);"></a></div>
    <p class="text-center read">
        削除が完了しました。
    </p>
    <div class="btn-area one-btn">
        <div class="btn gray-btn"><a href="javascript:void(0);">閉じる</a></div>
    </div>
</div>

<div class="modal type-07">
    <div class="close-btn"><a href="javascript:void(0);"></a></div>
    <p class="text-center read">
        動画名動画名動画名動画名動画名で上映申請を行いますか?<br>
        ご要望がある場合は以下にご記入ください。
    </p>
    <div class="text-area"><textarea></textarea></div>
    <div class="btn-area clearfix">
        <div class="inner">
            <div class="btn gray-btn next-btn">
                <div><a href="javascript:void(0);">はい</a></div>
            </div>
            <div class="btn gray-btn prev-btn">
                <div><a href="javascript:void(0);">いいえ</a></div>
            </div>
        </div>
    </div>
</div>

<div class="modal type-08">
    <div class="close-btn"><a href="javascript:void(0);"></a></div>
    <p class="text-center read">
        エラーが発生しました。
    </p>
    <p class="text-area text-center">
        動画をアップロードの際にエラーが発生し、作業が正常に完了出来ませんでした。<br>
        劇場までお問い合せお願い致します。
    </p>
    <div class="btn-area one-btn">
        <div class="btn gray-btn"><a href="javascript:void(0);">閉じる</a></div>
    </div>
</div>

<div class="modal type-09">
    <div class="close-btn"><a href="javascript:void(0);"></a></div>
    <p class="text-center read">
        プレイリストに紐付けられていますが、編集してよろしいですか？
    </p>
    <div class="btn-area clearfix">
        <div class="inner">
            <div class="btn gray-btn next-btn">
                <div><a href="javascript:void(0);">はい</a></div>
            </div>
            <div class="btn gray-btn prev-btn">
                <div><a href="javascript:void(0);">いいえ</a></div>
            </div>
        </div>
    </div>
</div>

<div class="modal type-10">
    <div class="close-btn"><a href="javascript:void(0);"></a></div>
    <p class="text-center read">
        上映申請を行いました。審査が完了するまで少々お待ち下さい。<br>
        審査結果はメールにてお知らせいたします。
    </p>
    <div class="btn-area clearfix">
        <div class="inner">
            <div class="btn gray-btn next-btn">
                <div><a href="javascript:void(0);">はい</a></div>
            </div>
            <div class="btn gray-btn prev-btn">
                <div><a href="javascript:void(0);">いいえ</a></div>
            </div>
        </div>
    </div>
</div>



<div class="modal type-logout">
    <div class="close-btn"><a href="/"></a></div>
    <p class="text-center read">
        ログアウトが完了しました。
    </p>
    <div class="btn-area one-btn">
        <div class="btn gray-btn"><a href="/">閉じる</a></div>
    </div>
</div>