<header class="clearfix">
    <div class="logo">
        <div class="logo-image"><img src="/images/common/logo.png" alt="映画.comシネマ アミューあつぎ"></div>
        <div class="page-type text-center">上映システム マイページ</div>
    </div>
    <nav>
        <ul class="clearfix">
            <li class="registration text-center"><a class="active" href="/media/new">動画登録</a></li>
            <li class="list text-center"><a class="" href="/medias">動画一覧/申請</a></li>
            <li class="logout text-center"><a class="" href="javascript:void(0);">ログアウト</a></li>
        </ul>
    </nav>
</header>