<header class="clearfix">
    UserId： <%= req.user.getUserId() %>
    <div class="logo">
        <a href="<%- url('medias', {}) %>">
            <div class="logo-image"><img src="/images/common/logo.png" alt="映画.comシネマ アミューあつぎ"></div>
            <div class="page-type text-center">上映システム マイページ</div>
        </a>
    </div>
    <nav>
        <ul class="clearfix">
            <li class="registration text-center"><a class="<% if (req.originalUrl == url('media.create', {})) { %>active<% } %>" href="<%- url('media.create', {}) %>">動画登録</a></li>
            <li class="list text-center"><a class="<% if (req.originalUrl == url('medias', {})) { %>active<% } %>" href="<%- url('medias', {}) %>">動画一覧/申請</a></li>
            <li class="logout text-center"><a class="" href="javascript:void(0);">ログアウト</a></li>
        </ul>
    </nav>
</header>